.card-tea{
    height: 256px;
    background-color: white;
    
}
.card-tea-active{
    box-shadow: 0px 4px 24px 0px rgba(205, 205, 205, 0.50);
}
.right-img{
    width: 100%;
}
.col-6{
}
.price{
    color: #C7A17A;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
}
.title-card{
    color: #232C38;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.maintext-card{
    color: #151D28;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.svg-text1{
    color: #415167;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.svg-text2{
    color: #415167;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



.big-card{
    height: 463px;
   
    background-color: white;
    filter: drop-shadow(1px 0px 10px rgba(205, 205, 205, 0.50));
    
    
}
.right-number{
    border:1px rgba(0, 0, 0, 0.045) solid;
    background-color: white;
    box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.045);
    
}
.tea{
    z-index: 4;
    max-width: 471px;
}
.tea img {
    max-width: 471px;
}
.number-card{
    display: flex;
    padding:0px;
    color: #415167;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 34px;
    height: 33.99%;
    justify-content: center;
    align-items: center;
    cursor:pointer;

}
.number-card-des{
    background-color: #EDF0F5;
    color: #41516756;
}

.card-tea-vert{
    min-height: 562px;
    background-color: white;
    box-shadow: 0px 4px 24px 0px rgba(205, 205, 205, 0.50);
}



.card-tea-vert img{
    width: 100%;
}
.videl{ 
    color:white;
    background-color: #C7A17A;
}
